* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, p {
    font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1rem;
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 1rem;
  background-color: indigo;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkviolet;
}


.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}
